nav a{
    display:block;
    text-decoration:none;
    padding:10px;
    background-color: greenyellow;
}

img{
    width: 50%;
    border-radius:50px;
}

video{
    width: 50%;
    background-color:green;
    padding:10px;
}

button{
    background-color:green;
    color:white;
    border:none;
    padding:10px;
    margin:10px;
}

button:hover{
    background-color:black;
}

.grid{
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    gap:10px;
}

.grid div{
    border:1px solid black;
    padding:20px;
    text-align:center;
}

@media screen and (max-width:600px){

    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width:601px){

    nav a{
        display:inline-block;
        margin-right:20px;
    }
}

td{
    text-align: center;
    padding: 10px;
}

th{
    background-color: burlywood;
}

body{
    background-color: whitesmoke;
}